* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: coral;
    display: flex;
    min-height: 42px;
    justify-content: space-between;
}

.nav-list{
    margin: auto 16px;
    padding: 0;
}

.list-item{
    display: inline-block;
    margin: 0 8px;
    color: antiquewhite;
    font-size: 18px;
    /* padding: 8px; */

}

.Form-container{
    margin: 36px auto 0 ;
    padding: 32px;
    background-color: #ffff;
    max-width: 720px;
}

.form-row{
    padding: 8px 0;
    display: flex;
}

.form-label{
    font-size: 14px;
    min-width: 90px;
}

.form-input{
    padding: 1px 2px;
    flex: 1;
}

.colum-layout{
    margin: 36px 0 0 ;
    padding: 12px 0;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}

.colum-item{
    padding: 0 16px;
}

.sibar-one{
    flex: 1;
    order: 1;
}

.sibar-two{
    flex: 1;
    order: 3;
}

.main-sibar{
    flex: 2;
    order: 2;
}

 h2{
     margin: 18px 0;
 }

 p{
     margin: 14px 0;
 }

 .feature-layout {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

 .feature-item{
     margin-top: 16px;
     padding: 12px 16px;
     flex-basis:30% ;
 }

 @media (min-width:740px) {
     .feature-layout{
         flex-direction: row;
     }
     .colum-layout{
         flex-direction: row;
     }
 }
    

 .feature-item:nth-child(1){
    background-color: rgb(192, 227, 222);
 }

 .feature-item:nth-child(2) {
    background-color: rgb(227, 200, 192);
}

.feature-item:nth-child(3) {
    background-color: rgb(226, 192, 227);
}

.wrap-layout{
    margin: 36px 0 0;
    padding: 12px 0 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wrap-layout-item {
    width: 148px;
    height: 90px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    background-color: #EF5122;
}

.center-layout {
    background-color: rgb(192, 227, 194);
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
    display: flex;
}

.center-layout-item {
    margin: 42px 0;
    font-size: 42px;
    font-weight: 700;
    margin: auto;
}

.chart-layout {
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}


.chart-layout__item {
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #EF5122;
    animation: growth ease-in 1s;

}

@keyframes growth {
    from{
        opacity: 0;
        height: calc(var(--percent)-50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}

.end {
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
    display: flex;
    flex-direction: row-reverse;
}

.end1{
    padding: 4px 16px;
    background-color: #fff;
    flex: 3;
}

.end2{
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    
}

.content1{
    padding: 4px 16px;
    background-color: rgb(227, 192, 214);
    flex: 1;
}

.content2{
    padding: 4px 16px;
    background-color: rgb(192, 210, 227);
    flex: 1;
}